a { color: #2929FF; }
a:visited { color: #777; }
a:hover {
  color: #8F8FFF;
  text-decoration: none;
}

body, button,a { font-family: 'Arbutus Slab', serif; font-weight: 400; }
h1 {
  font-family: 'Alegreya SC', serif; font-weight: 700;
  margin: 0 auto;
}

body {
  background: #FFF;
  color: #4d4d4d;
  width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
button, .select {
  border: 0;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
button:hover, .select:hover { opacity: 1; }
button {
  background: #2929FF;
  font-size: 0.75em;
  padding: 7px 12px;
  opacity: .75;
}
span {
  display: inline-block;
  margin-right: 10px;
}
div {
  display: inline;
}
ul { padding-left: 0; }
.delete, .view {
  font-size: 0.625em;
  opacity: .25;
  padding: 3px 10px;
  position: relative;
  top: -3px;
}
.delete { background: #FF29D0; }
.view { background: #FF6529; }

#new-user,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 16px;
  font-family: inherit;
  border: 0;
  outline: none;
  color: inherit;
  padding: 2px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#new-user {
  border: none;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: none;
}